@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.avatar img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    background: #f0f0f0;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.links {
    text-align: center;
}

.links>a {
    color: black;
    font-size: 20px;
    padding: 0 25px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: auto;
}

.links>a:hover {
    color: #0f84f9;
}